header{
    border: none;
    display:flex;
    justify-content: space-between;
}

#startTime {
    background-color: purple;
    margin-left: 35%;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
}

